<tr>
    <td colspan="4">&nbsp;</td>
    <td>SUBT</td>
    <td>
        $ <%=subtotal%></span>
    </td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="4">&nbsp;</td>
    <td>DESC</td>
    <td>
        <input type="text" name="descuento" id="descuento" value="<%=descuento%>">
    </td>
    <td>
        <select id="descuento_tipo" name="descuento_tipo">
            <% _.each([1, 2], function(num) { %>
                <% var simbolo = (num == 1)?'$':'%'; %>
                <% if (descuento_tipo == num) { %>
                    <option selected="selected" value="<%=num%>"><%=simbolo%></option>
                <% } else { %>
                    <option value="<%=num%>"><%=simbolo%></option>
                <% } %>
            <% }); %>
        </select>
    </td>
</tr>

<tr>
    <td colspan="4">&nbsp;</td>
    <td>SUBT - DESC</td>
    <td>
        $ <%=descuento_ui%></span>
    </td>
    <td>
    </td>
</tr>

<tr>
    <td colspan="4">&nbsp;</td>
    <td>IVA</td>
    <td>
        $ <%=iva%></span>
    </td>
    <td>
        <select id="iva_tipo" name="iva_tipo">
            <% _.each([0, 12], function(num) { %>
                <% var simbolo = (num == 0)?'0 %':'12 %'; %>
                <% if (iva_tipo == num) { %>
                    <option selected="selected" value="<%=num%>"><%=simbolo%></option>
                <% } else { %>
                    <option value="<%=num%>"><%=simbolo%></option>
                <% } %>
            <% }); %>

        </select>
    </td>
</tr>

<tr>
    <td colspan="4">&nbsp;</td>
    <td>TOTAL</td>
    <td>
        $ <%=total%>
    </td>
    <td>
    </td>
</tr>
